<h1>User info</h1>
<%= form_with model: @user, local: true do |f| %>
  <p>
    <label for="inputName">Name</label><br>
    <%= f.text_field :name, autofocus: true, id:"inputName" %>
  </p>
  <P>
    <label for="inputImage">ProfileImage</label><br>
    <%= f.attachment_field :profile_image, autofocus: true, id:"inputImage" %>
  </p>
  <p>
    <label for="inputBody">introduction</label><br>
    <%= f.text_area :introduction, autofocus: true, id:"inputBody" %>
  </p>
  <%= f.submit "Update User" %>
<% end %>
