  <%= render 'layouts/sidebar', book: @book, user: @user %>
  




<div>
  <h1>Users</h1>
  
  <h4>image</h4>
  <h4>name</h4>
  <% @users.each do |user| %>
  <div>
   <%= link_to user_path(user) do %>
    <p><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "90x90" %></p>
   <% end %>  
    <p><%= user.name %></p>
    <p><%= link_to "show", user_path(user) %></p>
    
    
  </div>
  <% end %>
</div>