 <h1>User info</h1>
<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "90x90" %>
  <h4>name---<%= @user.name %></h4>
  <h4>introduction---<%= @user.introduction %></h4>
  ここにユーザー編集リンク
  <%= link_to "|ユーザー情報|", edit_user_path(@user)%>
  
</div>

<!--新規投稿機能-->
<h1>New  book</h1>
<%= form_with model: @book, local: true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>




<div>
  <h1>Users</h1>
  
  <h4>image</h4>
  <h4>name</h4>
  <% @users.each do |user| %>
  <div>
   
    <p><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "90x90" %></p>
    <p><%= user.name %></p>
    <p><%= link_to "show", user_path(user) %></p>
    
    
  </div>
  <% end %>
</div>