<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar', book: @book, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
            <td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %>
              <% end %>
            </td>
            <td><%= @user.name %></td>
            <td>フォロー数：<%= @user.follower.count %></td>
            <td>フォロワー数：<%= @user.followed.count %></td>
          </tr>
        <% User.all.where.not(id: current_user.id).each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td>フォロー数：<%= user.follower.count %></td>
            <td>フォロワー数：<%= user.followed.count %></td>
            <td>
             
                <% if current_user.following?(user) %>
                  <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
                <% else %>
                  <%= link_to 'フォローする',follow_path(user.id), method: :POST %>
                <% end %>
            
            </td>
            <td><%= link_to "Show", user_path(user) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>