
<!--render 'layouts/new_book', book: @new_book, btn: 'Create Book' -->
<h1>User info</h1>
<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "90x90" %>
  <h4>name---<%= @user.name %></h4>
  <h4>introduction---<%= @user.introduction %></h4>
  
  <%= link_to "|ユーザー情報|", edit_user_path(@user)%>
  
</div>

<h1>New  book</h1>
<%= form_with model: @new_book, local: true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>

<div>
  <h1><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "90x90" %></h1>
  
    <p>ユーザー画像</p>
    <p><%= @book.user.name %></p>
    <p><%= link_to @book.title, book_path(@book) %></p>
    <p><%= @book.body %></p>
    <% if @book.user == current_user %>
    <p><%= link_to "edit", edit_book_path(@book) %></p>  
    
    <p><%= link_to "destroy", book_path(@book), method: :delete %></p>
    <% end %>
</div>