

 <%= render 'layouts/sidebar', book: @new_book, user: @user %>

<div>
  <%= link_to user_path(@user) do %>
    <p><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "90x90" %></p>
  <% end %>  
    <p><%= @book.user.name %></p>
    <p><%= link_to @book.title, book_path(@book) %></p>
    <p><%= @book.body %></p>
    <% if @book.user == current_user %>
    <p><%= link_to "edit", edit_book_path(@book) %></p>  
    
    <p><%= link_to "destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"} %></p>
    <% end %>
</div>