<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9ebb9ecdaf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar bg-dark navbar-expand-lg">
        <div class="container">
          <a href="/" class="navbar-brand text-light">Bookers</a>
          <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to " Home", user_path(current_user.id),class: "nav-link text-light fas fa-home" %>
              </li>
              <li class="nav-item">
                <a href="/users" class="nav-link text-light fas fa-users"> Users</a>
              </li>
              <li class="nav-item">
                <a href="/books" class="nav-link text-light fas fa-book-open"> Books</a>
              </li>
              <li class="nav-item">
                <a href="/users/sign_out" data-method="delete"  class="nav-link text-light fas fa-sign-out-alt"> logout</a>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/" class="nav-link text-light fas fa-home"> Home</a>
              </li>
              <li class="nav-item">
                <a href="/home/about" class="nav-link text-light fas fa-link"> About</a>
              </li>
              <li class="nav-item">
                <a href="/users/sign_up" class="nav-link text-light fas fa-user-plus"> sign up</a>
              </li>
              <li class="nav-item">
                <a href="/users/sign_in" class="nav-link text-light fas fa-sign-in-alt"> login</a>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
      <div class="container">
        <%= render 'layouts/search'%>
      </div>
    </header>

    <main class="mt-3">
      <% if flash[:notice] %>
        <p style="color: green;"><%= flash[:notice] %></p>
      <% end %>

          <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto ">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
